@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");

body {
background: #BE93C5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #BE93C5 , #7BC6CC); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #BE93C5 , #7BC6CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-brandlogo {
    height: 100%;
}

#fileselector {
    margin: 10px; 
}

#upload-file-selector {
    display:none;   
}

.margin-correction {
    margin-right: 10px;   
}
